@font-face {
  font-family: 'Conv_Avenir Next Medium';
  src: url('../fonts/Avenir Next Medium.eot');
  src: local('☺'), url('../fonts/Avenir Next Medium.woff') format('woff'), url('../fonts/Avenir Next Medium.ttf') format('truetype'), url('../fonts/Avenir Next Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Avenir-LT-Std-35-Light';
  src: url('../fonts/Avenir-LT-Std-35-Light.eot');
  src: local('☺'), url('../fonts/Avenir-LT-Std-35-Light.woff') format('woff'), url('../fonts/Avenir-LT-Std-35-Light.ttf') format('truetype'), url('../fonts/Avenir-LT-Std-35-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Avenir-LT-Std-55-Roman';
  src: url('../fonts/Avenir-LT-Std-55-Roman.eot');
  src: local('☺'), url('../fonts/Avenir-LT-Std-55-Roman.woff') format('woff'), url('../fonts/Avenir-LT-Std-55-Roman.ttf') format('truetype'), url('../fonts/Avenir-LT-Std-55-Roman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AvenirNextLTPro-HeavyCn';
  src: url('../fonts/AvenirNextLTPro-HeavyCn.eot');
  src: local('☺'), url('../fonts/AvenirNextLTPro-HeavyCn.woff') format('woff'), url('../fonts/AvenirNextLTPro-HeavyCn.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-HeavyCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_AvenirNextLTPro-Regular_1';
  src: url('../fonts/AvenirNextLTPro-Regular_1.eot');
  src: local('☺'), url('../fonts/AvenirNextLTPro-Regular_1.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular_1.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular_1.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: 'Conv_Avenir Next Medium';
}

a {
  color: #0071bc;
}

a:hover, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.page-content {
  width: 320px !important;
  margin: 0 auto;
  position: relative;
}

.header {
  background-size: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding-left: 25px;*/
  border-bottom:  1px solid rgba(0, 0, 0, .1);
  background-color: #f3f3f3;
}

.header-bar {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 4px 0px 4px 0px
}

.warning-container {
  max-width: 800px;
}

.warning-page {
  color: black;
  text-align: center;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.warning-page-footer {
  height: 10vh;
  color: white;
  background-color: red;
}

.warning-page-footer a {
  color: white;
}

.warning-info {
  background-color: rgb(236, 236, 236);
  padding: 30px;
  text-align: center;
}

.warning-page h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.warning-page p {
  font-size: 16px;
  line-height: 28px;
  max-width: 500px;
  margin: 0 auto;
}

.warning-info a {
  color: red;
}

.red-text {
  color: red;
}

.tutorial-page {
  color: black;
  background-color: rgb(235, 235, 235);
  min-height: 93vh;
}

.tutorial-container {
  max-width: 1000px;
}

.tutorial-image {
  max-width: 250px;
  max-height: 250px;
}

.tutorial-image-large {
  max-width: 600px;
  max-height: 500px;
}

.tutorial-info {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  text-align: left;
}

.tutorial-banner img {
  max-width: 250px;
}

.info-page .header {
  max-height: 80px;
}

.main-content {
  padding: 25px 0;
}

.main-content.setting-sec {
  padding: 30px 0;
}

.imgSec {
  margin-bottom: 30px;
}

.btnStyle {
  min-width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  background-color: #d5d5d5;
  margin: 0 auto;
  display: block;
}

.btnStyle:hover {
  background-color: #ccc;
  box-shadow: 0 3px 15px rgba(207, 207, 207, 0.3);
}

.statusBar {
  position: relative;
}

.statusBar span {
  font-size: 21px;
  color: #323232;
}

.status-safe {
  background-color: #17Bf63;
}

.status-unknown {
  background-color: grey;
}

.status-dangerous {
  background-color: red;
}

.fa-lg {
  vertical-align: 0;
}

.linkSection>h2 {
  color: #0071bc;
  font-size: 17px;
  font-weight: 600;
  margin: 40px 0 15px;
}

.tab-content.tabBottom {
  margin: 50px 0;
}

.nav-tabs.tabSection {
  border: 0;
}

.tabSection li.nav-item {
  width: 50%;
}

.tabSection .nav-item .nav-link {
  height: 50px;
  border: 1px solid #e2e3e4;
  width: 100%;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  padding: 0 15px;
  color: #323232;
  border-radius: 0;
  font-weight: 600;
}

.tabSection .nav-item .nav-link.active {
  background-color: #0071bc;
  color: #fff;
  border: 0;
}

.tabSection .nav-item .nav-link.bodrRadiusLeft.active {
  border-radius: 5px 0 0 5px;
}

.tabSection .nav-item .nav-link.bodrRadiusRight.active {
  border-radius: 0 5px 5px 0;
}

.inputStyle {
  box-shadow: none;
  height: 40px !important;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid #e2e3e4;
  font-size: 16px;
  border-radius: 0px;
  width: 100%;
  line-height: 18.4px;
}

.logo img {
  height: 30px;
}

.info-page .logo img {
  max-height: 80px;
  max-width: 150px;
}

.drop-shadow {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.safe-icon {
  background-color: #0071bc;
}

.unknown-icon {
  background-color: grey;
}

.dangerous-icon {
  background-color: red;
}

.footer {
  height: 40px;
  margin-top: -40px;
}

.tutorial-footer {
  background: rgb(235, 235, 235);
}

.twitter-icon {
  max-width: 25px;
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin: auto;
}

.detailSec {
  margin: 30px 0 15px;
}

.tab-content.tabBottom {
  margin-top: 40px;
  padding-bottom: 30px;
}

.linkSection>h2 {
  font-size: 14px;
  margin: 20px 0 15px;
}

.main-content {
  padding: 30px 0;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  top: -3px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0071bc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0071bc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn {
  border-radius: 0;
}

.chosen-value, .value-list {
  position: relative;
  left: 0;
  width: 100%;
}

.chosen-value {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  height: 3rem;
  font-size: 1.1rem;
  padding: 0.8rem;
  background-color: white;
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.chosen-value::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.chosen-value:hover {
  background-color: #0071bc;
  color: white;
  cursor: pointer;
}

.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #0071bc;
  color: white;
}

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder, .chosen-value:hover::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 1;
}

.value-list {
  list-style: none;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
}

.value-list.open {
  max-height: 320px;
  overflow: auto;
}

.value-list li {
  position: relative;
  height: 4rem;
  background-color: #fafcfd;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
}

.value-list li:hover {
  background-color: #eeeeee;
}

.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

ul {
  padding-inline-start: 0px;
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #0071bc;
  border-color: #0071bc;
}

.btn-report:hover {
  background-color: red;
  border-color: red;
}

.info-list {
  list-style-position: outside;
  margin-left: 20px;
}

.black-text {
  color: black;
}

#loader-background {
  display: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0071bc;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}